#group{
    background-color: #1b3b50;
    color: white;
    padding-top: 0;
}

#publinks{
    margin-top: 0;
    width: 170px;
    font-size: 11px;
    padding-left: 25px;
}

#pagelabel a,#pagelabeltotal, #pagelabel{
    color: #b2c0cb;
}

.label{
    color: #b2c0cb;
}

#arrowup:before, #arrowup:after, #arrowup:after,body:after{
    display: none;
}

#arrowleft, #searchleft, #arrowright, #searchright, #arrowleft10, #searchleft10, #arrowright10, #searchright10 {
    bottom: 0px;
}

#pagelabel{
    bottom: 0px;
}

#poweredby{
    bottom: -58px;
    margin-bottom: 23px;
}